pathway>=0.7.0
pydantic>=2.0.0
pydantic-settings>=2.0.0
langchain>=0.1.0
langchain-google-genai>=0.0.5
langchain-community>=0.3.9
langchain-huggingface>=0.1.2
langgraph>=0.0.10
colorama>=0.4.6
rich>=13.0.0
python-dotenv>=1.0.0
tavily-python>=0.1.9
google-generativeai>=0.3.0
crewai
unstructured
langchain_groq
duckduckgo_search
streamlit